.connectBody {
  max-width: 70%;
  background: url(images/connectBackground.png) no-repeat center center fixed;
  background-size: cover;
  margin: auto;
}

.input-field {
  font-size: 1em;
  width: 30%;
  margin: auto;
}

.toRight {
  float: right;
  margin-right: 20%;
}

form {
  margin-top: 7%;
}

hr {
  width: 70%;
}

h1 {
  font-size: 3em;
  text-align: center;
}
